:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #213547;
    background-color: #ffffff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

a {
    font-weight: 500;
    color: rgb(var(--theme-color-r), var(--theme-color-g), var(--theme-color-b));
    text-decoration: inherit;
    &:hover, &:focus-visible {
        text-decoration: underline;
    }
    &:focus-visible {
        border-radius: 8px;
        outline: 2px solid rgba(var(--theme-color-r), var(--theme-color-g), var(--theme-color-b), 0.3);
        outline-offset: 2px;
    }
    &:active {
        color: var(--theme-border-color);
    }
}

button {
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    margin: 0.6em;
    padding: 0.6em 1.2em;
    background-color: #f9f9f9;
    border: none;
    border-radius: 8px;
    transition: color 0.25s ease, background-color 0.25s ease;
    &:hover, &:focus-visible, &:active {
        color: rgb(var(--theme-color-r), var(--theme-color-g), var(--theme-color-b));
        background-color: rgba(var(--theme-color-r), var(--theme-color-g), var(--theme-color-b), 0.08);
    }
    &:focus-visible {
        outline: 2px solid rgba(var(--theme-color-r), var(--theme-color-g), var(--theme-color-b), 0.3);
    }
    &:active {
        background-color: rgba(var(--theme-color-r), var(--theme-color-g), var(--theme-color-b), 0.15);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color: rgba(255, 255, 255, 0.87);
        background-color: #242424;
    }
    button {
        background-color: #1a1a1a;
    }
    a:active {
        color: var(--theme-background-color);
    }
}
